@charset "UTF-8";

/* Footer */

#ifooter {
    background-color: var(--segunda_cor);
    padding: 16px 16px;
}

#ifooter a{
    white-space: nowrap;
    text-decoration: none;
    margin: 8px;
    color: var(--terceira_cor);
    text-align: center;
}

#ifooter a:hover{
    transition: 0.2s;
    color: var(--primeira_cor);
}

#ifooter_row_1 a{
    font-size: 15px;
}

#ifooter_row_1 {
    margin-bottom: 8px;
    text-align: center;
}

#ifooter_row_2 {
    text-align: center;
}

#ifooter_row_2 {
    font-size: 13px;
    
}

#ifooter_row_2 span{
    color: var(--terceira_cor_claro);
    
}