@charset "UTF-8";

/* nav */

nav {
    position: relative;
}

#nav_dark {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.527);    
    z-index: 10;
    display: none;
}

#nav_content {
    position: fixed;
    height: 100%;
    width: 280px;
    background-color: var(--segunda_cor_extra_escuro);    
    z-index: 10;
    left: -280px;
    transition: left 0.5s ease;
}

#nav_content .icon-menu {
    color: var(--primeira_cor);
    
}

#nav_content .icon-menu:hover{
    filter: brightness(125%);
}

#nav_content .icon-menu:active{
    filter: brightness(75%);
}

#nav_content .ilogo a{
    color: var(--primeira_cor);
    
}

#nav_content .ilogo a:hover{
    filter: brightness(125%);
    
}

#nav_content .ilogo a:active{
    filter: brightness(75%);
    
}

#nav_content hr{
    margin: 0px 16px;
}

#nav-options {
    
    list-style-type: none;
}

#nav-options a{
    color: var(--terceira_cor);
    text-decoration: none;
    font-weight: bold;
    display: flex;
}

.menu-op {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
    padding-left: 16px;
}

#nav-options a:hover{
    color: var(--primeira_cor);
    
}

#nav-options a:active{
    filter: brightness(90%);
}

#nav-options i {
    margin-right: 8px;
    height: 20px;
}

.login-option {
    margin-top: 16px;
    display: flex; /* ou none */
    flex-wrap: wrap;
    justify-content: center;
}

.login-option > a{
    text-align: center;
    padding: 8px;
    font-size: 18px;
}

#login-info {
    padding: 16px 0px;
    display: none; /* ou flex */
    flex-direction: column;
    align-items: center;
}

#login-info > img{
    width: 96px;
    border-radius: 48px;
    border: 4px solid var(--primeira_cor);

}

#login-info > a{
    padding: 8px 0px;
    font-size: 24px;

}