@charset "UTF-8";

.list-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 8px 0px;
    min-height: 57px;
}

.list-content {
    list-style-type: none;
}


.list-content a {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: var(--terceira_cor);
}

.list-content a:hover {
    color: var(--primeira_cor);
}


.list-content-right {
    white-space: nowrap;
    padding-left: 8px;
}

.list-content-left {
    display: inline-block;
    max-width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-class {
    background-color: var(--segunda_cor_extra_escuro);
    padding: 1px 5.34px;
    margin-right: 8px;
    color: var(--terceira_cor);
    border-radius: 4px;
}

.list-status {
    color: var(--terceira_cor_extra_escura);
}

.border-bottom {
    border-bottom: 0.5px solid rgb(0 0 0 / 10%);;
}

.list-content li:nth-child(1) .list-class {
    color: var(--segunda_cor);
    background-color: var(--primeira_cor_classificacao);
}

.list-content li:nth-child(2) .list-class {
    color: var(--segunda_cor);
    background-color: var(--segunda_cor_classificacao);
}

.list-content li:nth-child(3) .list-class {
    color: var(--segunda_cor);
    background-color: var(--terceira_cor_classificacao);
}