@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --primeira_cor: #5D86F7;
    --segunda_cor: #FFFFFF;
    --segunda_cor_var: #FDFEFE;
    --terceira_cor_extra_escura: #a1a1a1;
    --segunda_cor_extra_escuro: #EEEEEE;
    --terceira_cor: #333333;
    --terceira_cor_claro: #BCBCBC;

    --primeira_cor_classificacao: #FF0000;
    --segunda_cor_classificacao: #FF6F00;
    --terceira_cor_classificacao: #DECC01;

    --fonte-archivo: "Archivo", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-archivo);
    box-sizing: border-box;
    
}

body, html {
    width: 100%;
    height: 120%;
    background-color: var(--segunda_cor_var);
    font-family: var(--fonte-archivo);
    color: var(--terceira_cor);
}

/* Gerais */

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Header */

#iheader {
    background-color: var(--primeira_cor);
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
}

#header-content {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
}


.cmenu-btn {
    display: block;
    height: 50px;
    line-height: 50px;
}

.icon-menu {
    line-height: 50px;
    padding: 13px 16px;
    color: var(--segunda_cor);
}

.ilogo {
    padding: 10px 0px;
}

.ilogo a{
    color: var(--segunda_cor);
    text-decoration: none;
    
}

.ilogo a:hover{
    color: var(--terceira_cor_extra_escura);
    
}

.ilogo span {
    font-weight: bolder;
    font-size: 24px;
}

.ilogo i {
    height: 20px;
}

/* main */

#imain {
    padding-top: 50px;
    max-width: 1250px;
    position: relative;
}

#logo_img{
    margin: 40px auto;
    max-width: 200px;

}

#logo_img img{
    width: 200px;
}

/* Search Form */

.search-form {
    margin: 24px auto 24px auto;
    width: calc(100% - 54px);
    max-width: 600px;
    border: 1px solid var(--segunda_cor_extra_escuro);
    border-radius: 16px;
    background-color: var(--segunda_cor);
}

.search-form input {
    margin-left: 13px;
    padding: 8px 0px 8px 8px;
    width: calc(100% - 53px);
    height: 32px;
    max-width: 600px;
    border: none;
    outline: none;
    background-color: var(--segunda_cor);
}

.search-button {
    border: none;
    outline: none;
    background-color: var(--segunda_cor);
}

.search-button i {
    transform: translateY(25%);
    font-weight: bold;
    color: var(--terceira_cor);
}

.search-button:hover i {
    transition: 0.3s;
    color: var(--primeira_cor);
}

.search-button:active i {
    transition: 0.3s;
    filter: brightness(75%);
}

/* Buttons (section 1 | home ) */

#section_main_1_btn {
    margin: 32px auto;
    width: 327px;
}

.btn {
    background-color: var(--primeira_cor);
    color: var(--segunda_cor);
    text-decoration: none;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 8px;
    text-align: center;
    margin: 4px;
}

.section_main_1_row {
    margin-bottom: 32px;
}

#iestante {
    padding: 12px 52px;
}

#ihistorico {
    padding: 12px 42px;
}

/* List (section 2 | home ) */

#section_main_2 {
    padding: 0px 10px;
}

.list-title {
    padding: 8px 0px;
}

.list-content a {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: var(--terceira_cor);
}

.list-content a:hover {
    color: var(--primeira_cor);
}


.list-class {
    background-color: var(--segunda_cor_extra_escuro);
    padding: 1px 5.34px;
    margin-right: 8px;
    color: var(--terceira_cor);
    border-radius: 4px;
}

.list-status {
    color: var(--terceira_cor_extra_escura);
}

.border-bottom {
    border-bottom: 0.5px solid rgb(0 0 0 / 10%);;
}

.list-content li:nth-child(1) .list-class {
    color: var(--segunda_cor);
    background-color: var(--primeira_cor_classificacao);
}

.list-content li:nth-child(2) .list-class {
    color: var(--segunda_cor);
    background-color: var(--segunda_cor_classificacao);
}

.list-content li:nth-child(3) .list-class {
    color: var(--segunda_cor);
    background-color: var(--terceira_cor_classificacao);
}