@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --primeira_cor: #5D86F7;
    --segunda_cor: #f9f9f9;
    --segunda_cor_var: #FDFEFE;
    --terceira_cor_extra_escura: #a1a1a1;
    --segunda_cor_extra_escuro: #EEEEEE;
    --terceira_cor: #333333;
    --terceira_cor_claro: #BCBCBC;

    --primeira_cor_classificacao: #FF0000;
    --segunda_cor_classificacao: #FF6F00;
    --terceira_cor_classificacao: #DECC01;

    --fonte-archivo: "Archivo", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-archivo);
    box-sizing: border-box;
    
}

body, html {
    width: 100%;
    height: 120%;
    background-color: var(--segunda_cor_var);
    font-family: var(--fonte-archivo);
    color: var(--terceira_cor);
}

/* Gerais */

a {
    transition: color 0.2s ease, filter 0.2s ease;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.btn {
    background-color: var(--primeira_cor);
    color: var(--segunda_cor);
    text-decoration: none;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 8px;
    text-align: center;
    margin: 4px;
    transition: filter 0.2s ease;
}

.btn:hover {
    filter: brightness(110%);
}

.btn:active {
    filter: brightness(90%);
}



/* Header */

#iheader {
    background-color: var(--primeira_cor);
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
}

#header-content {
    height: 50px;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
}


.cmenu-btn {
    display: block;
    height: 50px;
    line-height: 50px;
}

.icon-menu {
    line-height: 50px;
    padding: 13px 16px;
    color: var(--segunda_cor);
    transition: filter 0.2s ease, color 0.2s ease;
    
}

.icon-menu:hover{
    color: var(--segunda_cor_extra_escuro);
    cursor: pointer;
    
}

.icon-menu:active{
    filter: brightness(75%);
    
}

.ilogo {
    padding: 10px 0px;
}

.ilogo a{
    color: var(--segunda_cor);
    text-decoration: none;
    
}

.ilogo a:hover{
    color: var(--segunda_cor_extra_escuro);
    
}

.ilogo a:active{
    filter: brightness(90%);
    
}

.ilogo span {
    font-weight: bolder;
    font-size: 24px;
}

.ilogo i {
    height: 20px;
}

/* nav */
nav {
    position: relative;
}

#nav_dark {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.527);    
    z-index: 10;
    display: none;
}

#nav_content {
    position: fixed;
    height: 100%;
    width: 280px;
    background-color: var(--segunda_cor_extra_escuro);    
    z-index: 10;
    left: -280px;
    transition: left 0.5s ease;
}

#nav_content .icon-menu {
    color: var(--primeira_cor);
    
}

#nav_content .icon-menu:hover{
    filter: brightness(125%);
}

#nav_content .icon-menu:active{
    filter: brightness(75%);
}

#nav_content .ilogo a{
    color: var(--primeira_cor);
    
}

#nav_content .ilogo a:hover{
    filter: brightness(125%);
    
}

#nav_content .ilogo a:active{
    filter: brightness(75%);
    
}

#nav_content hr{
    margin: 0px 16px;
}

#nav-options {
    
    list-style-type: none;
}

#nav-options a{
    color: var(--terceira_cor);
    text-decoration: none;
    font-weight: bold;
    display: flex;
}

.menu-op {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
    padding-left: 16px;
}

#nav-options a:hover{
    color: var(--primeira_cor);
    
}

#nav-options a:active{
    filter: brightness(90%);
}

#nav-options i {
    margin-right: 8px;
    height: 20px;
}

.login-option {
    margin-top: 16px;
    display: flex; /* ou none */
    flex-wrap: wrap;
    justify-content: center;
}

.login-option > a{
    text-align: center;
    padding: 8px;
    font-size: 18px;
}

#login-info {
    padding: 16px 0px;
    display: none; /* ou flex */
    flex-direction: column;
    align-items: center;
}

#login-info > img{
    width: 96px;
    border-radius: 48px;
    border: 4px solid var(--primeira_cor);

}

#login-info > a{
    padding: 8px 0px;
    font-size: 24px;

}

/* main */

#imain {
    margin: 0px auto;
    padding-top: 50px;
    max-width: 1250px;
    position: relative;
}

#logo_img{
    margin: 40px auto;
    max-width: 300px;

}

#logo_img img{
    width: 300px;
}

/* Search Form */

.search-form {
    margin: 24px auto 24px auto;
    width: calc(100% - 54px);
    max-width: 600px;
    border: 1px solid var(--segunda_cor_extra_escuro);
    border-radius: 16px;
    background-color: var(--segunda_cor);
}

.search-form input {
    margin-left: 13px;
    padding: 8px 0px 8px 8px;
    width: calc(100% - 53px);
    height: 32px;
    max-width: 600px;
    border: none;
    outline: none;
    background-color: var(--segunda_cor);
}

.search-button {
    border: none;
    outline: none;
    background-color: var(--segunda_cor);
}

.search-button i {
    transform: translateY(25%);
    font-weight: bold;
    color: var(--terceira_cor);
    transition: color 0.2s ease, filter 0.2s ease;
}

.search-button:hover i {
    color: var(--primeira_cor);
}

.search-button:active i {
    filter: brightness(75%);
}

/* Buttons (section 1 | home ) */

#section_main_1_btn {
    margin: 32px auto;
    width: 327px;
}

.section_main_1_row {
    margin-bottom: 32px;
}

#iestante {
    padding: 12px 52px;
}

#ihistorico {
    padding: 12px 42px;
}

/* List (section 2 | home ) */

#section_main_2 {
    padding: 0px 10px;
}

.section-main-2-col {
    margin-bottom: 16px;
}

.list-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 8px 0px;
    min-height: 57px;
}

.list-content {
    list-style-type: none;
}


.list-content a {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: var(--terceira_cor);
}

.list-content a:hover {
    color: var(--primeira_cor);
}


.list-content-right {
    white-space: nowrap;
    padding-left: 8px;
}

.list-content-left {
    display: inline-block;
    max-width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-class {
    background-color: var(--segunda_cor_extra_escuro);
    padding: 1px 5.34px;
    margin-right: 8px;
    color: var(--terceira_cor);
    border-radius: 4px;
}

.list-status {
    color: var(--terceira_cor_extra_escura);
}

.border-bottom {
    border-bottom: 0.5px solid rgb(0 0 0 / 10%);;
}

.list-content li:nth-child(1) .list-class {
    color: var(--segunda_cor);
    background-color: var(--primeira_cor_classificacao);
}

.list-content li:nth-child(2) .list-class {
    color: var(--segunda_cor);
    background-color: var(--segunda_cor_classificacao);
}

.list-content li:nth-child(3) .list-class {
    color: var(--segunda_cor);
    background-color: var(--terceira_cor_classificacao);
}

/* Footer */

#ifooter {
    background-color: var(--segunda_cor);
    padding: 16px 16px;
}

#ifooter a{
    white-space: nowrap;
    text-decoration: none;
    margin: 8px;
    color: var(--terceira_cor);
    text-align: center;
}

#ifooter a:hover{
    transition: 0.2s;
    color: var(--primeira_cor);
}

#ifooter_row_1 a{
    font-size: 15px;
}

#ifooter_row_1 {
    margin-bottom: 8px;
    text-align: center;
}

#ifooter_row_2 {
    text-align: center;
}

#ifooter_row_2 {
    font-size: 13px;
    
}

#ifooter_row_2 span{
    color: var(--terceira_cor_claro);
    
}