@charset "UTF-8";

/* login/register */

#section_lr_1 {
    padding: 16px;
}

#section_lr_1 hr {
    width: 401px;
    margin: auto;
}

#login_span {
    position: absolute;
    padding: 4px;
    top: 435px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--segunda_cor_var);
}

#register_span {
    position: absolute;
    padding: 4px;
    top: 564px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--segunda_cor_var);
}

#gmail_login {
    padding-top: 64px;
    padding-bottom: 32px;
    width: 401px;
    margin: auto;
}

.btng{
    color: var(--terceira_cor);
    font-weight: bold;
    padding: 16px 97px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.315);
    background-color: var(--segunda_cor_var);
    margin: auto;
}

.btng:hover{
    filter: brightness(100%);
    color: var(--primeira_cor);
}

.btng svg{
    transform: translate(-5px ,5px);
}