@charset "UTF-8";

/* recomendations */

#section_recomendation {
    padding: 16px;
}

#section_recomendation h1{
    font-size: 24px;
    padding: 8px 0px;
}

#section_recomendation ul{
    list-style-type: none;
}

#section_recomendation a{
    display: flex;
    padding: 16px 0px;
}

#section_recomendation a:hover h2{
    color: var(--primeira_cor);
}


#section_recomendation a:hover img{
    transform: scale(1.1);
}

.book-img-container {
    background-color: var(--primeira_cor);
    min-width: 68px;
    max-width: 68px;
    height: 93px;
    overflow: hidden;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.26);
}

.book-img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.book-info-container {
    padding: 8px 0px;
}

#section_recomendation h2{
    color: var(--terceira_cor);
    font-size: 20px;
    padding: 0px 8px;
}

#section_recomendation h3{
    display: flex;
    color: rgb(0 0 0 / 25%);
    margin: 4px 0px;
}

#section_recomendation p{
    font-size: 14px;
    padding: 0px 8px;
}

.book-type-container {
    border-right: 0.5px solid rgb(0 0 0 / 10%);
    border-left: 0.5px solid rgb(0 0 0 / 10%);
}

.book-h3-div-container {
    padding: 0px 8px;
    font-size: 16px;
    font-weight: 300;
}

.book-sinopse-container {
    color: var(--terceira_cor);
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}