@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --primeira_cor: #5D86F7;
    --segunda_cor: #f9f9f9;
    --segunda_cor_var: #FDFEFE;
    --segunda_cor_extra_escuro: #EEEEEE;
    --terceira_cor: #333333;
    --terceira_cor_claro: #BCBCBC;
    --terceira_cor_extra_escura: #a1a1a1;

    --primeira_cor_classificacao: #FF0000;
    --segunda_cor_classificacao: #FF6F00;
    --terceira_cor_classificacao: #DECC01;

    --fonte-archivo: "Archivo", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-archivo);
    box-sizing: border-box;
    transition: color 0.2s ease, filter 0.2s ease;
    
}

body, html {
    width: 100%;
    height: 100%;
    background-color: var(--segunda_cor_var);
    font-family: var(--fonte-archivo);
    color: var(--terceira_cor);
}

/* Gerais */

a {
    color: var(--primeira_cor);
    text-decoration: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.material-icons.md-24 {
    font-size: 24px;
}

.btn {
    background-color: var(--primeira_cor);
    color: var(--segunda_cor);
    text-decoration: none;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    text-align: center;
    margin: 4px;
}

.btn:hover {
    filter: brightness(110%);
}

.btn:active {
    filter: brightness(90%);
}

.border-bottom {
    border-bottom: 0.5px solid rgb(0 0 0 / 10%);
}

/* main */

#imain {
    margin: 0px auto;
    padding-top: 50px;
    max-width: 1250px;
    min-height: calc(100% - 71px);
    position: relative;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #000 !important;
}